@implements IDisposable

@inject NavigationManager NavigationManager

<nav>
    <a href="/" class="logo">Hotel_reservation</a>
    <div class="nav-links">
        <div><NavLink href="/"><div class="nav-item">Home</div></NavLink></div>
        <div><NavLink href="/about"><div class="nav-item">About us</div></NavLink></div>
        <div><NavLink href="/rooms"><div class="nav-item">Rooms</div></NavLink></div>
        <div><NavLink href="/auth"><div class="nav-item">Auth Required</div></NavLink></div>
        <AuthorizeView>
            <Authorized>
                <div><NavLink href="/Account/Manage"><div class="nav-item">@context.User.Identity?.Name</div></NavLink></div>
                <div>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <div class="nav-item">Logout</div>
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div><NavLink href="/Account/Register"><div class="nav-item">Register</div></NavLink></div>
                <div><NavLink href="/Account/Login"><div class="nav-item">Login</div></NavLink></div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
