@page "/"
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>

<div class="container mt-5">
        <div class="card-body">
            <h1 class="card-title">Hello, world!</h1>
            <p class="card-text">Welcome to your new app.</p>
        </div>
</div>