@page "/image-config"
@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject ApplicationDbContext DbContext;
@inject IWebHostEnvironment Env

<h3>Images</h3>
<br>

<ImageComponent OnSave="AddImageAsync" Image="NewImage()"/>
<div>
	@foreach (var image in SavedImages)
	{
		<div>
			<img src="@image.Path" width="250" height="250"/>
			<button @onclick="() => DeleteImageAsync(image)">X</button>
		</div>
	}
</div>

@code {
	private Image NewImage() => new Image() {Path=""};
	private List<Image> SavedImages = new();

	protected override async Task OnInitializedAsync()
	{
		SavedImages = await DbContext.Images.ToListAsync();
	}
	private async Task AddImageAsync(Image image){
		await DbContext.Images.AddAsync(image);
		await DbContext.SaveChangesAsync();
		SavedImages.Add(image);
		StateHasChanged();
	}
	private async Task DeleteImageAsync(Image image){
		File.Delete($"{Env.WebRootPath}{image.Path}");
		DbContext.Images.Remove(image);
		await DbContext.SaveChangesAsync();
		SavedImages.Remove(image);
		StateHasChanged();
	}
}
