@rendermode InteractiveServer
@using HotelReservation.Components.Models

@if (Images != null && Images.Count() > 0)
{
    <button type="button" @onclick="PrevImage">⬅️</button>
    <img src="@Images[currentIndex].Path" alt="Image" class="carousel-image" width="100" height="100" />
    <button type="button" @onclick="NextImage">➡️</button>
    }

@code {
    [Parameter] public List<Image>? Images { get; set; }
    private int currentIndex = 0;

    private void NextImage()
    {
            currentIndex = (currentIndex + 1) % Images.Count;
            StateHasChanged();
    }

    private void PrevImage()
    {
            currentIndex = (currentIndex - 1 + Images.Count) % Images.Count;
            StateHasChanged();
    }
}