@page "/room-config"
@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject ApplicationDbContext DbContext;



<RoomTemplateSelectComponent OnChange="x => _selectedTemplate = x" RoomTemplates="_roomTemplates">
	<label for="type">Type</label>
</RoomTemplateSelectComponent>
<button @onclick="() => AddNewFloorAsync()">Floor+</button>
@foreach (var floor in _rooms)
{
	<div>
		<span>|</span><label>@floor.Key</label><span>|</span>
		@foreach (var room in floor)
		{
			if (_editingRoom && _editRoom == room)
			{
				<input @bind-value="room.Number" />
				<RoomTemplateSelectComponent OnChange="x => room.Type = x" RoomTemplates="_roomTemplates" />
			}else
			{
				<label>@room.Number</label>
				<label>@room.Type.Name</label>
			}
			<button @onclick="() => DeleteRoomAsync(room)">x</button>
			<button @onclick="() => EditRoomAsync(room)">edit</button>
			<span>|</span>
		}
		<button @onclick="() => AddNewRoomAsync(floor.Key)">+</button>
	</div>
}

@code {
	private bool _editingRoom;
	private Room? _editRoom;
	private List<RoomTemplate> _roomTemplates = new();
	private RoomTemplate? _selectedTemplate;
	private List<IGrouping<int, Room>> _rooms = new();
	private async Task<Room> NewFloorRoomAsync()
	{
		int newFloor = await GetNewFloorAsync();
		return new Room { Floor = newFloor, Number = 1, Type = _selectedTemplate};
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await RefreshAsync();
			StateHasChanged();
		}
		await base.OnAfterRenderAsync(firstRender);
	}
	private async Task RefreshRoomsAsync()
	{
		_rooms = await DbContext.Rooms
			.OrderBy(room => room.Floor)
			.ThenBy(room => room.Number)
			.GroupBy(room => room.Floor)
			.ToListAsync();
	}
	private async Task DeleteRoomAsync(Room room)
	{
		DbContext.Rooms.Remove(room);
		await DbContext.SaveChangesAsync();
		await RefreshRoomsAsync();
	}
	private async Task<int> GetNewFloorAsync()
	{
		if (!await DbContext.Rooms.AnyAsync())
			return 1;
		else
			return (await DbContext.Rooms.MaxAsync(room => room.Floor)) + 1;
	}
	private async Task<int> GetNewRoomNumberAsync(int floor)
	{
		var roomNumbers = await DbContext.Rooms
		.Where(room => room.Floor == floor)
		.Select(room => room.Number)
		.ToListAsync();
		return roomNumbers.Max() + 1;
	}
	private async Task AddNewFloorAsync(){
		await AddRoomAsync(await NewFloorRoomAsync());
	}
	private async Task AddNewRoomAsync(int floor)
	{
		int newNumber = await GetNewRoomNumberAsync(floor);
		await AddRoomAsync(new Room() { Floor = floor, Number = newNumber, Type = _selectedTemplate });
		await RefreshAsync();
	}
	private async Task AddRoomAsync(Room room)
	{
		await DbContext.Rooms.AddAsync(room);
		await DbContext.SaveChangesAsync();
		await RefreshAsync();
	}
	private async Task RefreshTemplatesAsync()
		=> _roomTemplates = await GetAllRoomTemplatesAsync();
	private Task<List<RoomTemplate>> GetAllRoomTemplatesAsync()
		=> DbContext.RoomTemplates.ToListAsync();
	private async Task RefreshAsync(){
		await RefreshTemplatesAsync();
		await RefreshRoomsAsync();
	}
	private async Task EditRoomAsync(Room room)
	{
		if (_editingRoom && _editRoom == room)
		{
			_editingRoom = false;
			_editRoom = null;

		}else
		{
			_editingRoom = true;
			_editRoom = room;
		}
		await DbContext.SaveChangesAsync();

	}
}
