<div>
    <span>Name: @Template.Name </span>
    @if (!string.IsNullOrWhiteSpace(Template.Description)) 
    {
        <span>Description: @Template.Description</span>
    }
    @ChildContent
</div>

@code {
    [Parameter] public required Models.RoomTemplate Template { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
