@page "/rooms"
@inject NavigationManager NavManager

<h3>Rooms</h3>
<br>

<NavLink href="room_creator" Match="NavLinkMatch.All">
    <button>create room</button>
</NavLink>
<br>

<NavLink href="room" Match="NavLinkMatch.All">
    <button>room</button>
</NavLink>

@code {

}
