@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<span>
    @ChildContent
    <select id="type" placeholder="Select Template" @onchange="ChangeTemplate" required>
        <option value="">-- Select an option --</option>
        @foreach (var template in RoomTemplates)
        {
            <option value=@template.Id>@template.Name</option>
        }
    </select>
</span>

@code {
    [Parameter] public required List<RoomTemplate> RoomTemplates { get; set; }
    [Parameter] public EventCallback<RoomTemplate> OnChange { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task ChangeTemplate(ChangeEventArgs args){
        if (int.TryParse((string)args.Value, out var templateId))
            await OnChange.InvokeAsync(RoomTemplates.Single(x => x.Id == templateId));
        else
            await OnChange.InvokeAsync(null);
    }
}
