@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject ApplicationDbContext DbContext;

<div>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Tag Name" @bind-value="@NewTag.Name" @onkeyup="OnSaveOnEnterAsync" required />
</div>
<div>
    <input type="button" @onclick="Save" value="add tag">
</div>

@code {
    [Parameter] public required Tag NewTag { get; set; }
    [Parameter] public EventCallback<Tag> OnSave { get; set; }
    private async Task OnSaveOnEnterAsync(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await OnSave.InvokeAsync(NewTag);
        }
    }
    private async Task Save(MouseEventArgs e)
    {
        await OnSave.InvokeAsync(NewTag);
    }

}