@page "/tag-config"
@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject ApplicationDbContext DbContext;

<TagComponent NewTag="NewTag()" OnSave="NewTagAsync"/>
<div>
    @foreach (var tag in Tags)
    {
        <div>
            @tag.Name
            <button type="button" @onclick="() => DeleteTagAsync(tag)">&#x2716;</button>
        </div>
    }
</div>

@code {
    private Tag NewTag() => new Tag() {Name = "new_tag"};
    private List<Tag> Tags = new();

    protected override async Task OnInitializedAsync()
    {
        Tags = await DbContext.Tags.ToListAsync();
    }

    private async Task DeleteTagAsync(Tag tag)
    {
        DbContext.Tags.Remove(tag);
        await DbContext.SaveChangesAsync();
        Tags.Remove(tag);
        StateHasChanged();
    }

    private async Task NewTagAsync(Tag tag)
    {
        await DbContext.Tags.AddAsync(tag);
        await DbContext.SaveChangesAsync();
        Tags.Add(tag);
        StateHasChanged();
    }
}
