@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<div class="container mt-5">
    <div class="alert alert-success text-center shadow-sm">
        <h1 class="mb-3">Reset password confirmation</h1>
        <p>Your password has been reset. Please <a href="Account/Login" class="alert-link">click here to log in</a>.</p>
    </div>
</div>
