@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject ApplicationDbContext DbContext;

<div class="form-floating mb-3">
    <input type="text" id="name" class="form-control" placeholder="Tag Name"
           @bind-value="@NewTag.Name" @onkeyup="OnSaveOnEnterAsync" required />
    <label for="name">Tag Name</label>
</div>

<div class="mb-3">
    <input type="button" @onclick="Save" value="Add Tag" class="btn btn-primary w-100" />
</div>


@code {
    [Parameter] public required Tag NewTag { get; set; }
    [Parameter] public EventCallback<Tag> OnSave { get; set; }
    private async Task OnSaveOnEnterAsync(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await OnSave.InvokeAsync(NewTag);
        }
    }
    private async Task Save(MouseEventArgs e)
    {
        await OnSave.InvokeAsync(NewTag);
    }

}